
<div class="container mt-2">
  <ng-container *ngIf="notes || optionsFiliere;else erreurOrLoding">
    <div *ngIf="NoteByFiliereAndModuleForm" class="mb-lg-2">
        <div class="row">
          <div class="col">
            <select   class="form-select" [ngModel]="selectedF" (ngModelChange)="onFiliereChange($event)">
              <option *ngFor="let optionF of optionsFiliere" [ngValue]="optionF">{{ optionF.name }}</option>
            </select>

          </div>
          <div class="col">
            <select  class="form-select"  [ngModel]="selectedM"  (ngModelChange)="onModuleChange($event)">
              <option  *ngFor="let optionM of optionsModules" [ngValue]="optionM">{{ optionM.name }}</option>
            </select>
          </div>
          <div class="col">
              <div class="btn btn-info" *ngIf=" optionsFiliere && optionsFiliere.length!==0
                   && optionsModules && optionsModules.length!==0 && selectedM"
               (click)="openAddNote()">
                <span>Add New Note</span>
              </div>
          </div>
        </div>
    </div>
    <div class="card" >

      <div class="card-header"> Notes : <strong>Filiere :</strong> {{filiereName}} &nbsp;&nbsp;<strong>Module :</strong> {{moduleName}} </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>APOGEE</th> <th>NOM</th> <th>PRENOM</th><th>NOTE</th><th>Module</th><th>Update</th><th>Remove</th>
          </tr>
          </thead>
          <tbody *ngIf="selectedM" >
          <tr *ngFor="let note of notes">
            <td>{{note.student.apogee}}</td>
            <td>{{note.student.nom}}</td>
            <td>{{note.student.prenom}}</td>
            <td>{{note.note}}</td>
            <td>{{note.module.name}}</td>
            <td>
            <button class=" btn btn-primary bg-primary" (click)="OnUpdateNote(note)">
              <span class="fa fa-edit"></span>
            </button>
          </td>
            <td>
            <button class=" btn btn-danger bg-danger" (click)="OnDeleteNote(note)">
              <span class="bi bi-trash-fill"></span>
            </button>
          </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #erreurOrLoding >
    <ng-container *ngIf="errorMessage ; else loding">
      <div class="text-danger">
        {{errorMessage | json}}
      </div>
    </ng-container>
   <ng-template #loding>
     Londing ........
   </ng-template>

  </ng-template>


</div>
